<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracle Wines</title>
    <link rel="stylesheet" href="/css/styles-registro.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto&family=Tiro+Devanagari+Sanskrit:ital@1&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('../partials/header') %>

        <main>
        <div class="form">   
            <form action="/registro" method="POST" enctype="multipart/form-data">
                <input class="campos-registro"type="text" name="name" placeholder="Nombre y Apellido" value="<%= locals.oldData ? oldData.name : null %>">
                <% if (locals.errors && errors.name) {%>
                <div class="text-danger">
                    <%= errors.name.msg %>
                </div>
                <% } %>
                <br>
                <input class="campos-registro" type="text" name="userName" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.userName : null %>">
                <% if (locals.errors && errors.userName) {%>
                    <div class="text-danger">
                        <%= errors.userName.msg %>
                    </div>
                    <% } %>
                <br>
                <input class="campos-registro" type="email" name="email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) {%>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
                <br>
                <label class="titulos-registros"for="bday" >Fecha de nacimiento</label>
                <br>
                <input type="date" name="bday" placeholder="Fecha de Nacimiento" value="<%= locals.oldData ? oldData.bday : null %>">
                <br>
                <input class="campos-registro" type="adress" name="textDirection" placeholder="Domicilio" value="<%= locals.oldData ? oldData.textDirection : null %>">
                <% if (locals.errors && errors.textDirection) {%>
                    <div class="text-danger">
                        <%= errors.textDirection.msg %>
                    </div>
                    <% } %>
                <br>
                <label class="titulos-registros" for="perfilUsuario">Tipo de factura</label>
                <br>
                <input type="radio" name="invoice" value="Factura A"><label for="invoice">  Factura A  </label>
                <input type="radio" name="invoice" value="Factura B"><label for="invoice">  Factura B  </label>
                <input type="radio" name="invoice" value="Factura C"><label for="invoice">  Factura C  </label>
                <br>
                <label class="titulos-registros" for="checkbox">Categorías de interés</label>
                <br>
                <input type="checkbox" name="interest" value="Fiestas"><label for="interests" > Fiestas </label>
                <br>
                <input type="checkbox" name="interest" value="Casamientos"><label for="interest"> Casamientos </label>
                <br>
                <input type="checkbox" name="interest" value="Eventos Formales"><label for="interest"> Eventos Formales </label>
                <br>
                <input type="checkbox" name="interest" value="Reuniones"><label for="interest"> Reuniones </label>
                <br>
                <input type="checkbox" name="interest" value="Vida sana"><label for="interest"> Vida sana </label>
                <br>
                <label class="titulos-registros" for="foto">Foto de Usuario</label>
                <br>
                <input type="file" name="picture" >
                <br>
                <input class="campos-registro" type="password" name="password" placeholder="contraseña">
                <% if (locals.errors && errors.password) {%>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
                <br>
                <input class="campos-registro" type="password" name="repassword" placeholder="Confirmar contraseña">
                <% if (locals.errors && errors.repassword) {%>
                    <div class="text-danger">
                        <%= errors.repassword.msg %>
                    </div>
                    <% } %>
                <br>
                <input class="enviar" type="submit" name="enviar" value="Registrarse" >
                <input class="reset" type="reset" name="borrar" value="Borrar">
            </form>
        </div>   
    </main>
    <%- include('../partials/footer') %>
</body>

</html>
