<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles-user.css">
    <title>Oracle Wines - Login</title>
    <link rel="icon" type="image/jpg" href="/images/glass-and-bottle-of-wine-icon.jpg" />
</head>
<body>
    <%- include('../partials/header') %>



<article class="card">
    <div class="card-left">
        <h3>Bienvenido <%= user.name %></h3><br>
        <figure>
            <img src="/images/users/<%= user.picture ? user.picture : 'default.png' %>" alt="" width="20%">
        </figure>
        <h5>Usuario: <%= user.userName %></a></h5>
        <h6>Nº de Usuario: <%= user.user_id %></h6>
    </div>
    <div class="card-content">
        
        <% if (user.category) { %>
            <p>Categoría: <%= user.category %></p>
        <%} %>
        <p>Email: <a href="<%= user.email %>" target="_blank"><%= user.email %></a></p>

    </div>

    <div>
        <a href="/users/edit/<%= user.user_id%>"><input class="submit-button" type="submit" name="edit" value="Editar"></a>
    </div>
    
    
</article>

<%- include('../partials/footer') %>
